*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebecf0;
    color: #1d1f1d;
    font-family: sans-serif;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 7rem;
    background: #333;
    width: 100%;
  }
  
  header .logo {
    color: #3ab1c1;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    float: left;
    margin-top: 0.5rem;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li a{
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.4rem;
    color: #fff;
    display: block;
    border-radius: 0.5rem;
    margin: 0.5rem 0.25rem;
  }
  
  header nav ul li a{
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.4rem;
    color: #fff;
    text-decoration: none;
    display: block;
    border-radius: 0.5rem;
    margin: 0.5rem 0.25rem;
  }
  
  header nav ul li a:hover, header nav ul li a.active {
    color: #fff;
    background: #3ab1c1;
  }
  
  .navbar-toggle {
    color: #fff;
    float: right;
    line-height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  @media(max-width: 991px){
     header {
      padding: 0 1.5rem;
     }
     header .logo {
      display: none;
     }
     .navbar-toggle {
      display: block;
     }
     header nav {
      position: absolute;
      top: 50px;
      right: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      background: #333;
      transition: right 0.5s;
      overflow: hidden;
     }
     header nav.active{
      right: 0;
     }
     header nav ul {
      display: block;
      text-align: center;
     }
  
     header nav ul li a{
      border-bottom: 1px dotted rgba(58, 177, 193, 0.5)
     }
  }


.table_responsive {
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    overflow: auto;
    margin: auto;
    box-shadow: 0 0 20px 0px rgb(0,0,0,.2);
}


.wrapper{
    width: 80%;
    margin: 30px auto 0;
    padding: 10x;

}

h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #1d1f1d;
}

.form-container {
    background: #f8f9f9;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.Heading {
    background: #38b0de;
    margin: -30px;
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 35px;
    
}

.form-item{
    
    margin-bottom: 25px;
}


.fullname .form-item,
.select-box .form-item {
   
      width: 100%;
      font-size: 15px;
      font-family: sans-serif;
}

.fullname .form-item:first-child,
.select-box .form-item:first-child{
    margin-right: 4%;
}

.form-item input[type="text"],
.form-item select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.form-item input[type="text"]:focus{
    border-color: #f8f9f9;
}

.btn button[type="submit"]{
    background: #ccc;
    border: 1px solid #f8f9f9;
    padding: 7px;
    width: 13%;
    border-radius: 20px;
    margin: 20px 0 0 85%;

}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}
    .login {
        display: none;
    }

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


p {
    margin-bottom: 20px;
}

.form-group h5  {
   margin-top: 20px;
}
